# Visual Studio / VS Code
.vs/
**/.vs/
.vscode/
'ECLIPSE NOTES.txt'

# Build output
out/
build/
bin/
obj/

# OS junk
Thumbs.db
.DS_Store


*.suo
*.user
*.user.*
CMakeFiles/
CMakeCache.txt
cmake-build-*/
build-*/
out/